body {
	/* Normaize the body */
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #2e2e2e;
}

header .header-wrap {
	max-width: 800px;
}

header .header-wrap h1 {
	color: white;
	font-size: 24px;

	padding: 0 15px;
}

.content-wrap {
	font-size: 18px;

	margin-top: 80px;

	width: 100%;
	max-width: 800px;

	margin-left: auto;
	margin-right: auto;

	padding: 0 15px;
}

.content-wrap .main {
	position: relative;
	display: block;

	margin: 15px 0;

	width: 100%;
}

.content-wrap .main textarea {
	width: 100%;
	max-width: 95vw;
	min-height: 50px;

}

.content-wrap .main p {
	margin: 0;
	padding: 0;
	color: coral;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.content-wrap #submit-find-and-replace {
	padding: 10px 30px;
	border: 1px solid #2e2e2e;
	background-color: #2e2e2e;
	color: white;
	font-size: 14px;
}
